@media(max-width: 325px) {
    #demoParagraph {
        width: 75%;
    }
    .main-screen .image {
        width: 75%;
    }
}

@media(min-width: 325px) {

    .main-screen .image {
        width: 85%;
    }

    #demoParagraph {
        width: 85%;
    }

}

@media(min-width: 768px) {

    .main-screen .image {
        max-width: 65%;
    }

    #demoParagraph {
        width: 65%;
    }
}

@media(min-width: 1440px) {
    .main-screen {
        flex-direction: row;
    }

    .main-screen .image {
        max-width: 35%;
    }

    #demoParagraph {
        width: 35%;
    }
}

@media(min-width: 1920px) {
    #demoParagraph {
        align-items: flex-start;
        max-width: fit-content;
    }

    .main-screen .image {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}