@media(max-width: 325px) {
    .main-screen .image {
        height: auto;
        max-width: 95vw;
    }
}

@media(min-width: 325px) {
    .main-screen .info {
        max-width: 95vw;
    }

    .main-screen .image {
        height: auto;
        max-width: 95vw;
    }

}

@media(min-width: 768px) {
    .main-screen .info {
        max-width: 500px;
        justify-content: space-between;
        align-items: center;
    }

    .main-screen .image {
        height: auto;
        width: 500px;
    }
}

@media(min-width: 1440px) {
    .main-screen .info {
        justify-content: space-evenly;
        align-items: first baseline;
    }

    .main-screen .image {
        float: right;
    }
}

@media(min-width: 1920px) {
    .main-screen .info {
        justify-content: space-between;
        align-items: flex-start;
    }

    .main-screen .image {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}