::placeholder {
    color: rgb(36, 76, 152);
    padding-left: 10px;
}

html {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 244, 252);
}

input[type="submit"] {
    width: 100%;
    margin: 1px;
}

input[type="checkbox"] {
    border: none;
    outline: 1px solid black;
    margin-left: 4px;
}

input[type="text"],  input[type="password"]{
    border: none;
    height: 2em;
    font-size: 1em;
    background-color: rgb(204, 214, 233);
    width: 100%;
    margin: 1px;
}

.blue-background {
    background-color: rgb(36, 76, 152);
}

.blue-text {
    color: rgb(36, 76, 152);
}

.button {
    height: 3em;
    border: 0.5px solid rgb(36, 76, 152);
    margin: 0.5px;
    width: 100%;
}

.button-no-border {
    border: none;
    text-align: left;
    height: 3em;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

button-special-no-border {
    border: none;
    text-align: left;
    height: 3em;
    font-size: 1em;
    margin: 0;
}

.form-popup {
    display: none;
    border: none;
    z-index: 9;
}

.main-screen {
    width: 95%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.main-screen .info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-screen img:not([class="image"]) {
    height: 3em;
    width: 3em;
}

.light-blue-background {
    background-color: rgb(240, 244, 252);
}

.rounded-edge {
    text-align: center;
    border-radius: 18px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.rounded-edge-as-circle {
    border-radius: 18px;
    -moz-border-radius: 360px;
    -webkit-border-radius: 360px;
}

.super-rounded-edge {
    border-radius: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.transparent-background {
    background-color: rgba(0, 0, 0, 0);
}

.white-background {
    background-color: white;
}

.white-text {
    color: white;
}

#myForm {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#closeImage {
    width: 2em;
    height: 2em;
}

#closeImageButton {
    position: relative;
    align-self: flex-end;
    float: right;
    border: none;
    padding: 0;
    margin: 0 0 0 1em;
    height: 3em;
    width: 3em;
}

#rememberUser, #rememberUserLabel {
    display: inline;
    font-size: 1em;
    align-self: stretch;
}