html {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 244, 252);
}

.blue-background {
    background-color: rgb(36, 76, 152);
}

.blue-text {
    color: rgb(36, 76, 152);
}

.button {
    height: 3em;
    border: 0.5px solid rgb(36, 76, 152);
    margin: 0.5px;
    width: 100%;
}

.button-no-border {
    border: none;
    text-align: left;
    height: 3em;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: none;
    z-index: 9;
}

.main-screen img {
    height: 3em;
    width: 3em;
}

.light-blue-background {
    background-color: rgb(204, 214, 233);
}

.rounded-edge {
    text-align: center;
    border-radius: 18px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.rounded-edge-as-circle {
    text-align: center;
    border-radius: 18px;
    -moz-border-radius: 360px;
    -webkit-border-radius: 360px;
}

.super-rounded-edge {
    border-radius: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.transparent-background {
    background-color: rgba(0, 0, 0, 0);
}

.white-background {
    background-color: white;
}

.white-text {
    color: white;
}

#myForm {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#closeImageButton {
    position: relative;
    float: right;
    border: none;
    padding: 0;
    margin: 0 0 0 1em;
    height: 3em;
    width: 3em;
}